.app-container {
  display: flex;
  height: 100vh;
}

.nav-container {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.logo img {
  width: 100%;
}

.nav-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.btn:hover {
  color: white;
  background-color: #214d33;
  cursor: pointer;
}

.profile {
  color: black;
}

.map-container {
  flex: 1;
  padding: 20px;
  background-color: antiquewhite;
}