.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.nav-container {
  width: 30px;
}

.map-container {
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-right: 2px solid;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
}

.nav-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.btn:hover {
  color: white;
  background-color: #214d33;
  cursor: pointer;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile img {
  width: 100%;
}

.map-container {
  flex: 1;
  padding: 20px;
}